streamlit>=1.36.0
openai>=1.0.0
groq
langchain
langchain-core
langchain-groq
langchain_text_splitters
langchain_huggingface
langchain_community
torch>=2.0.0
pydantic>=2.0.0
python-dotenv>=1.0.0
pandas>=2.0.0
plotly>=5.20.0
PyPDF2>=3.0.0
threading
typing
re
json
os
langgraph
functools
numpy
collection
datetime
openai
hashlib
sqlite3
pathlib
dotenv
plotly
